.header-background {
    background-color: @header-color;
}

.text-color,
a.text-color {
    color: @header-text-color !important;
}

.navbar-default {
    color: @header-text-color !important;
}

a.text-color:focus,
a.text-color:active {
    color: @hyperlink-active-color !important;
}

.primary-color {
    background-color: @primary-color !important;  
}

.alternative-color {
    background-color: @primary-button-color !important;
}

.create-button-color {
    background-color: @create-button-color !important;
}

.selected-row td {
    background-color: @primary-color !important;
}

.selected-row td,
.selected-row i,
.selected-row a {
    color: #FFF !important;
}

.generic-dialog, .primary-modal .modal-header, .user-information-modal .modal-header, .folder-modal .modal-header, .rename-modal .modal-header, .move-modal .modal-header, .share-modal .modal-header, .notify-user-modal .modal-header, .new-contact-modal .modal-header, .add-user-modal .modal-header, .add-system-admin-modal .modal-header, .edit-user-modal .modal-header, .org-user-modal .modal-header, .org-user-csv-modal .modal-header, .org-whitelist-modal .modal-header, .add-ldap-modal .modal-header, .edit-ldap-modal .modal-header, .add-client-modal .modal-header, .edit-client-modal .modal-header, .edit-config-modal .modal-header, .edit-whitelist-modal .modal-header, .add-organisation-modal .modal-header, .edit-organisation-modal .modal-header, .orgPlan-modal .modal-header, .orgLabel-modal .modal-header, .orgGroup-modal .modal-header, .csv-upload-modal .modal-header, .image-upload-modal .modal-header, .add-whitelist-modal .modal-header, .edit-label-modal .modal-header, .edit-list-modal .modal-header, .name-description-modal .modal-header, .bundle-upload-modal .modal-header, .transfer-modal .modal-header {
    background-color:@primary-color !important;
}

.pagination {
    & .active {
        & a, a:hover, a:focus {
            background-color: @primary-color;
            border-color: @primary-color;
        }
    }
}

/*Tabs*/
.notification-dropdown {
    & .pop-dialog {
        & .notifications {
            & .nav-tabs {
                & li.active {
                    background: @primary-color;
                }
            }
        }
    }
}

/*Primary Button*/
.btn.btn-primary {
    background-color: @primary-button-color;
    border-color: @primary-button-color;
}

/*Create Button*/
.btn.btn-create {
    background-color: @create-button-color;
    border-color: @create-button-color;
}

/*Navs*/
.nav-pills {
    & li.active {
        & a, a:hover, a:focus {
            background-color: @primary-color;
        }
    }
}

#dashboard-badge {
    & .panel-primary {
        border-color: @primary-color; 
        > .panel-heading {
            background-color: @primary-color;
            border-color: @primary-color;
        }
    }
}

#ngProgress {
    background-color: @primary-color !important; /* sadly the library sets this value in the style attribute, we need to use important */
    color: @primary-color !important;
}

.covataSpin.cube-grid .cube, .covataSpin.rectangleBounce > div, .covataSpin.circleBounce > div, .covataSpin.fading-circle .circle:before, .covataSpin.folding-cube .cube:before {
    background: @primary-color;
}

.login-button {
    background-color: @primary-color !important;
}

.selected-row {
    background-color: @selected-item-color !important;
    color: @selected-item-text-color !important;
    & td {
        background-color: @selected-item-color !important;
        color: @selected-item-text-color !important;
        & a, & i {
            color: @selected-item-text-color !important;
        }       
    }
}

#footer.webapp-footer {
    background-color: @footer-color;
    color: @footer-text-color;
    
    * {
        color: @footer-text-color;
    }
}

/*alert*/
div.alert.alert-success {
    background: @alert-success-color;
    border-color: @alert-success-color;
    color: @alert-success-text-color;
}